.Navigate {
    display: flex;
    align-items: center;
}

.IconHome {
    margin-top: 2px;
}

.Icon {
    margin-left: 10px;
}

.Text {
    margin-left: 10px;
    color: #23282F;
    font-weight: 400;
    text-decoration: none;
}